env/**
.DS_Store
backfill_from_existing.txt
filewave-backfill/data
backfill_dump.txt
filewave-backfill/backfill_data
filewave-backfill/prometheus-2.19.0.darwin-amd64
filewave-backfill/done
filewave-backfill/backfill_done
.vscode/.ropeproject/objectdb
build/**
dist/**
filewave_extra_metrics.egg-info/**
.eggs/**
**/__pycache__/**
*.pyc
htmlcov/**
.coverage
pypi.config
