env/**
__pycache__/**
.DS_Store

backfill_from_existing.txt
filewave-backfill/data
backfill_dump.txt
filewave-backfill/backfill_data
filewave-backfill/prometheus-2.19.0.darwin-amd64
filewave-backfill/done
filewave-backfill/backfill_done
